.card {
    background-color:#989484;
    flex: auto;
    text-align: center;
    justify-content: center;
    color: beige;
    min-height: 50px !important;
    
}
.modal-body {
    font-weight: bold;
}
.card-red {
    background-color: #820458 !important;
    color: beige !important;
}

.card-green {
    background-color: #398874 !important;
    color: beige !important;
}

.card-black {
    background-color: #000000 !important;
    color: beige !important;
}

.keyboard {
    background-color: #e2e8f0;
    flex: auto;
    text-align: center;
    font-size: medium;
    justify-content: center;
    color: black;
    border:0px;
    overflow: hidden;
}

.keyboard:hover {
    background-color: #d3d8df;
}

.alertbar {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
}

.show {
    display: block;
}

.modal {

    margin-top: 100px;
}

.endscreen {
    margin-top: 100px;
}

.blur {
    -webkit-filter: blur(1px) grayscale(90%) opacity(40%); 
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px) grayscale(90%) opacity(40%);
}